<div class="dropdown dropdown-custom">
  <button class="btn btn-secondary dropdown-toggle dropmenu menu" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Menu
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <button class="dropdown-item" type="button">
      <%= cl_image_tag @photo, class: 'avatar-large' %>
      <%= current_user&.name %>
    </button>
    <button class="dropdown-item" type="button"><%= link_to "Home",  root_path %></button>
    <button class="dropdown-item" type="button"><%= link_to "New order",  new_order_path %></button>
    <button class="dropdown-item" type="button"><% if policy(Order).create? %><%= link_to "Your orders", orders_path %><% end %></button>
    <button class="dropdown-item" type="button"></button>
    <button class="dropdown-item" type="button"><%=link_to "Become a driver", new_driver_path %></button>
    <button class="dropdown-item" type="button"><% if policy(User).edit? %><%= link_to "Update profile", edit_user_registration_path %><% end %></button>

    <button class="dropdown-item" type="button">
      <% if user_signed_in? %>
      <div>
        <%= link_to('Logout', destroy_user_session_path, method: :delete, :class => 'btn btn-primary') %>
      </div>
      <% else %>
      <div>
        <%= link_to('Login/Sign-up', new_user_session_path, :class => 'btn btn-primary') %>
      </div>
      <% end %></button>


      <%  if current_user.driver != nil %>
      <div id="active", class="dropdown-item" type="button" >
        <% if current_user.driver&.active? %>
         <%= link_to('deactivate', drivers_inactive_path, method: :patch, :class => 'btn btn-primary', :id => 'active', remote: true) %>
        <% else %>
          <%= link_to('activate', drivers_active_path, method: :patch, :class => 'btn btn-primary', :id => 'active', remote: true) %>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
