


<div class="container mt-3">
  <h1 class="mt-5 mb-5">All my orders</h1>
  <% current_user.orders.each do |order| %>
  <div class="card-product mt-2">
    <div class="card-product-infos">
      <ul class="listStyle">
        <li><b><%= order.parcel.name %></b></li>
        <li><%= "Pickup: #{order.pickup}"%></li>
        <li><%= "Pickup time: #{order.pickup_time}"%></li>
        <li><%= "Drop-off: #{order.drop_off}"%></li>
      </ul>
      <% if policy(order).destroy? %><%= link_to order_path(order.id), method: :delete, data: {confirm: "Are you sure you want to cancel this order?"} do%>
      <i class="fas fa-trash-alt"></i>
      <% end %>
      <% end %>
      <div class="list mt-4">
        <li><%#= link_to "Add a review for #{user.driver.name}",  new_order_review_path(driver)%></li>
      </div>
    </div>
  </div>
  <% end %>
</div>
