


<div class="container mt-3">
  <%= render 'shared/navbar-new' %>
  <h1 class="mt-5 mb-5">All my orders</h1>
  <% current_user.orders.each do |order| %>
  <div class="card-product mt-2">
    <div class="card-product-infos">
      <ul class="listStyle">
        <%= @pastorder %>
        <li><b><%= order.parcel.name.capitalize %></b></li>
        <li><i><%= "Driver: #{order.driver.user.name}"%></i></li>
        <li><%= "Pickup: #{order.pickup.capitalize}"%></li>
        <li><%= "Pickup time: #{order.pickup_time}"%></li>
        <li><%= "Drop-off: #{order.drop_off.capitalize}"%></li>
        <li><%= "Status: #{order.status}"%></li>
        <div>
          <% if order.review %>
          <li><i><%= "Review: #{order.review.decription}" %></i></li>
          <%order.review.rating.to_i.times do %>
          <span class="glyphicon glyphicon-star"> <i class="fas fa-star"></i></span>
          <% end %>
          <% order.review.blank_stars.to_i.times do %>
          <i class="far fa-star"></i>
          <% end %>
          <% else %>
          <li><%= link_to "Add a review for #{order.driver.user.name}", new_order_review_path(order)%></li>
          <% end %>
        </div>
      </ul>
      <% if policy(order).destroy? %><%= link_to order_path(order.id), method: :delete, data: {confirm: "Are you sure you want to cancel this order?"} do%>
      <i class="fas fa-trash-alt"></i>
      <% end %>
      <% end %>
      <div class="list mt-4">
      </div>
    </div>
  </div>
  <% end %>
</div>
