<div class="container mt-3">
  <%= render 'shared/navbar-new' %>
  <h1 class="mt-5 mb-5">All my orders</h1>
  <% current_user.orders.each do |order| %>

  <div class="card mt-3">
    <div class="card-body">
      <h5 class="card-title"><%= order.parcel.name.capitalize %></h5>
      <h6 class="card-subtitle mb-2 text-muted">From <%= order.pickup.capitalize %> to <%= order.drop_off.capitalize %></h6>
      <p class="card-text">
        <%= "#{order.driver ? "Driver: #{order.driver.user.name}" : 'we are looking for a driver'}"%><br>
        <%= order.pickup_time.strftime("%A, %b %d") %>
        <p><%= "Status: #{order.status}" %></p>
        <p><% if policy(order).destroy? %><%= link_to "Cancel order", order_path(order.id), method: :delete, data: {confirm: "Are you sure you want to cancel this order?"} %></p>
        <% end %>

      </p>
      <% if order.driver and !order.review %>
      <%= link_to "Add a review for #{order.driver.user.name}", new_order_review_path(order), class: "card-link"%>
      <% end %>
      <% if order.review %>
      <a href="#" class="see-review card-link">See review</a>
      <!-- don't change this to not break the animation -->
      <div class="order-review">
        <p><%= "Review: #{order.review.decription}" %></p>
        <%order.review.rating.to_i.times do %>
        <span class="glyphicon glyphicon-star"> <i class="fas fa-star"></i></span>
        <% end %>
        <% order.review.blank_stars.to_i.times do %>
        <i class="far fa-star"></i>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>

  <% end %>
</div>
