<div class="map-container">

  <div
  class="top"
  class="positionmap"
  id="map"
  data-show-route="1"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  >
  <%= render 'shared/navbar-new' %>
</div>

<div id="messages-box" data-order-id="<%= @order.id %>">
  <%= render 'shared/accordion-messages' %>
</div>
</div>

<div class="display-flex justify-content-center m-3 p-3">
  <h3 class="cursive">We are looking for your driver!</h3>
</div>

<!-- SHOW PICKUP LOCATION AND THE ASSIGNED DRIVER IN MARKERS -->
