<div class="map-container">

  <div
  class="top"
  class="positionmap"
  id="map"
  data-show-route="1"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  >
  <div>
  <%= render 'shared/navbar-new' %>
  </div>

  <div>
  <%= link_to('Package Safely Delivered!', orders_path, :class => 'btn btn-primary delivered-btn') %>
  </div>

</div>

<div
  id="messages-box"
  data-order-id="<%= @order.id %>"
  data-is-driver="<%= current_user.is_driver? %>"
>
  <%= render 'shared/accordion-messages' %>
</div>
</div>

<!-- <div class="display-flex justify-content-center m-3 p-3">
  <h3 class="cursive">We are looking for your driver!</h3>
</div> -->

<!-- SHOW PICKUP LOCATION AND THE ASSIGNED DRIVER IN MARKERS -->
